<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rhythm.warn.mapper.NotifyTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rhythm.warn.entity.NotifyTemplateDO">
    <result column="id" property="id" />
    <result column="created_time" property="createdTime" />
    <result column="modified_time" property="modifiedTime" />
    <result column="creator" property="creator" />
    <result column="modifier" property="modifier" />
    <result column="version" property="version" />
    <result column="is_deleted" property="isDeleted" />
        <result column="name" property="name" />
        <result column="notify_code" property="notifyCode" />
        <result column="notify_impl_code" property="notifyImplCode" />
        <result column="notify_account_id" property="notifyAccountId" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    id,
    created_time AS createdTime,
    modified_time AS modifiedTime,
    creator,
    modifier,
    version,
    is_deleted AS isDeleted,
        name, notify_code AS notifyCode, notify_impl_code AS notifyImplCode, notify_account_id AS notifyAccountId, content, status, remark
    </sql>

</mapper>
